<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">SymptHome</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">

            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    What is SymptHome?
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge"><i class="fas fa-tasks"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Disease Feedback</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>The purpose of our webiste is to provide you with disease feedback based on your input in terms of symptoms. We will compare them against any disease in our database and try to give you accurate results!</p>

                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge warning"><i class="far fa-clock"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Save Time</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>These days, life is extremely fast for everyone. It is rare to find time for yourself. Our website gives you the ability to monitor your health and check potentially dangerous symptoms in a matter of seconds!</p>
                                    <hr>
                                    <p>Avoid making time consuming appointments with your local doctors, and waiting in queues. We will serve you instantly!</p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge danger"><i class="far fa-credit-card"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Save Money</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Our website is completely free of charge and our only goal is to improve overall health and well-being of the human race by using the power of information technologies!</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-badge info"><i class="fas fa-robot"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Avoid Human Error</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>There are millions of diseases out there and no human can possibly remember all of them so it is expected that even the experienced doctors can make mistakes when diagnosing diseases and can point you in the wrong direction. This webpage will check every single possibility without forgetting and will do so extremely fast!</p>


                                </div>
                            </div>
                        </li>

                        <li class="timeline">
                            <div class="timeline-badge success"><i class="fas fa-prescription-bottle-alt"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Medicine Recommendations</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Our database also has a list of medicines that are recommended for any of the diseases and you can access information about them easily!</p>

                                    <p>We do not give perscriptions or advise you to use any of the drugs that require one without consultaion with real doctors! Please take the recommended medicines at your own risk!</p>


                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>



        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
